  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    z-index: 1000;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  section {
    position: relative;
    width: 80%; 
    margin: 0 auto; 
    padding-top: 45%; 
    
  }

    .hidden-content {
    display: none;
  }
  section .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  
  .grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0px;
    width: 100%;
    height: 100%;
  }

  .grid div {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .hadi{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0f2f76;
    font-size: 18vw;
    transform: scaleY(1.2);
    z-index: 10;
    grid-column-start: 7; 
    grid-column-end: 9;   
    grid-row-start: 5;    
    grid-row-end: 9;      
  }
  .call{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 10;
    font-size: 4vw;
    line-height: .9;
    padding-left: 10%;
    grid-column-start: 7; 
    grid-column-end: 9;   
    grid-row-start: 6;    
    grid-row-end: 9;      
  }

  .call{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 10;
    font-size: 4vw;
    line-height: .9;
    margin-top: 30%;
    padding-left: 10%;
    grid-column-start: 7; 
    grid-column-end: 9;   
    grid-row-start: 3;    
    grid-row-end: 8;      
  }
  .then{
  
    z-index: 10;
    font-size: 4vw;
    line-height: .9;
    grid-column-start: 14; 
    grid-column-end: 17;   
    grid-row-start: 11;    
    grid-row-end: 12;     
  }
  .scroll{
    z-index: 10;
    font-size: 1.5vw;
    line-height: .9;
    grid-column-start: 16; 
    grid-column-end: 20;   
    grid-row-start: 12;    
    grid-row-end: 12;     
  }

  .profle_pic{
    background-image: url(https://raw.githubusercontent.com/HadiVahidi20/personal_home_page/refs/heads/main/Hadi_Profile_Pic.png);
    background-position: center;
    background-size: cover;
    grid-row: 2/12;
    grid-column: 1/8;
    border-radius: 0px 30px 30px 0px;
    z-index: 1;
    
  } 
  .rectangle_1{
    border: 4px solid black;
    grid-row-start:4 ;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end:15 ;
    background-color: transparent; 
    z-index: 2;
  }
  .solid_squre {
    width: 1vw;
    height: 1vw;
    background-color: black;
    grid-column: 20 / span 2; 
    grid-row: 9;
    z-index: 2;
    transform: translateX(-50%);
  }
  .vertical-line_1 {
    grid-column: 20/ 20; 
    grid-row: 9 / -1;     
    width: 0.2vw;         
    background-color: black; 
  }
  .vertical-line_2 {
    grid-column: 20; 
    grid-row: 1 / 3;
    width: 0.2vw;
    background-color: black;
    
  }
  .horizontal-line_1 {
    grid-column: 3 / 20; 
    grid-row: 3 / 3;      
    width: 100%;         
    height: 0.2vw;
    background-color: black;
    align-self: start;
    justify-self: center;
  }

  .vertical-line_3 {
  grid-column: 3; 
  grid-row: 3 / 4;
  width: 0.2vw;
  background-color: black;

  }
  .rectangle_2 {
  background-color: black;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 10;
  z-index: 2;
  }
  .will{
    font-size: 4vw;
    line-height: .9;
    font-weight: bold;

    color: white;
    grid-row-start:4 ;
    grid-row-end: 6;
    grid-column-start:6;
    grid-column-end:10 ;
    z-index: 2;}
    .i {
      font-size: 10vw;
      color: white;
      grid-column: 5;
      grid-row: 4 / 6; 
      line-height: .6; 
      justify-self: center; 
      align-self: stretch; 
      z-index: 3;
    }
    .rectangle_3 {
      background-color: white;
      border: .2vw solid black;
      grid-row-start: 6;
      grid-row-end: 9;
      grid-column-start: 5;
      grid-column-end: 15;
      z-index: 2;
      justify-self: center;
      align-self: center;
    }
    
    .rectangle_3 p {
      font-size: 2.7vw;
      color: rgb(0, 0, 0);
      text-align: left; 
      line-height: 1.5;
    }
    .rectangle_4 {
      background-color: rgb(0, 0, 0);
      border: .1vw solid black;
      grid-row: 7 / 9;  
      grid-column: 14 / 16;
      justify-self: center;
      align-self: center;
    }
    
    .rectangle_4 p {
      font-size: 2.7vw; 
      color: white;
      text-align: right;
      line-height: 1.7;
      
    }
    .hadi_2{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #0f2f76;
      font-size: 10vw;
      transform: scaleY(1.2);
      z-index: 1;
      grid-column-start: 2; 
      grid-column-end: 9;  
      grid-row-start: 9;   
      grid-row-end: 12;     
    }
    .because{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      z-index: 10;
      font-size: 3vw;
      line-height: .1;
      grid-column-start: 2; 
      grid-column-end: 5;   
      grid-row-start: 9;    
      grid-row-end: 10;      
  }
  .about {
    padding-left: 1.8vw;
    padding-top: 2vw;
    grid-row-start: 10; 
    grid-row-end: 12;   
    grid-column-start: 6;
    grid-column-end: 18;
    z-index: 2;
  }
  .white_txt{
    color: white;
  }

  .about p {
    font-size: 1.7vw; 
    color: black;
    justify-content: end;
    align-items: end;

  }
  .solid_squre_2 {
    width: 1vw;
    height: 1vw;
    background-color: black;
    grid-column: 18 / span 2; 
    grid-row: 10;
    z-index: 2;
    transform: translateX(-50%);
  }
  .vertical-line_4 {
    grid-column: 18;
    grid-row-start: 10;
    grid-row-end: 13; 
    width: 0.2vw;
    background-color: black;
    align-self: start;
    height: 83.33%; 
  }
  .horizontal-line_2 {
    grid-column: 13 / -1; 
    grid-row: 12 / 12;      
    width: 100%;         
    height: 0.2vw;
    background-color: black;
    align-self: center;
    justify-self: center;
  }
  .horizontal-line_3 {
    grid-column: 18 / -1; 
    grid-row: 12 / 12;      
    width: 100%;         
    height: 3vw;
    background-color: black;
    align-self: center;
    justify-self: center;
    z-index: 2;
  }
  .vertical-line_5 {
    grid-column: 13;
    grid-row-start: 12;
    grid-row-end: -1; 
    width: 0.2vw;
    background-color: black;
    align-self:self-end;
    height: 50%; 
  }
  .vertical-line_6 {
    grid-column: 13;
    grid-row-start: 1;
    grid-row-end: -1; 
    width: 0.2vw;
    background-color: black;
    align-self:self-end;
    height: 100%; 
  }
  .vertical-line_7 {
    grid-column: 13/-1;
    grid-row-start: 2;
    grid-row-end: -1; 
    width: 100%;
    background-color: black;
    align-self:self-end;
    height: 100%; 
  }
  .resume_1{
    font-size: 3vw;
    padding-top: 10%;
    padding-right: 5px;
    line-height: .9;
    font-weight: bold;
    text-align: right;
    color: black;
    grid-row-start:2 ;
    grid-row-end: 7;
    grid-column-start:6;
    grid-column-end:13 ;
    z-index: 2;}
    .l_txt{
      font-size: 6vw;
    }
    .m_txt{
      font-size: 4vw;
    }
    .resume_2{
      font-size: 3vw;
      padding-right: 5px;
      line-height: .9;
      font-weight: bold;
      text-align: left;
      color: rgb(255, 255, 255);
      grid-row-start:6 ;
      grid-row-end: 12;
      grid-column-start:13;
      grid-column-end:19 ;
      z-index: 2;}
      .l_txt{
        font-size: 6vw;
      }
      .m_txt{
        font-size: 4vw;
      }
      .rectangle_5 {
        background-color: transparent;
        grid-row-start: 9;
        grid-row-end: 11;
        grid-column-start: 10;
        grid-column-end: 16;
        z-index: 2;
        align-self: self-end;
        height: 80%;
      }
      .button_1 {

        font-size: 3vw;
        padding: 1.5vw;
        font-weight: bold;
        color: white;
        background-color: #0f2f76;
        border: none;
        
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
      }
      
      .button_1:hover {
        background-color: #092052;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        transform: scale(1.05);
      }
      
      .button_1:active {
        background-color: #06163b;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        transform: scale(0.98);
      }
      .horizontal-line_4 {
        grid-column: 4 / 13; 
        grid-row: 10 / 10;      
        width: 100%;         
        height: .2vw;
        background-color: rgb(0, 0, 0);
        
        z-index: 1;
      }
      .vertical-line_8 {
        grid-column: 4/-1;
        grid-row-start: 10;
        grid-row-end: -1; 
        width: .2vw;
        background-color: rgb(0, 0, 0);
        align-self:self-end;
        height: 100%; 
      }
      .horizontal-line_5 {
        grid-column: 2 / 19; 
        grid-row: 3 / 10;      
        width: 100%;         
        height: .2vw;
        background-color: rgb(0, 0, 0);
        
        z-index: 1;
      }
      .vertical-line_9 {
        grid-column: 4/-1;
        grid-row-start: 1;
        grid-row-end: 3; 
        width: .2vw;
        background-color: rgb(0, 0, 0);
        align-self:self-end;
        height: 100%; 
      }
      .horizontal-line_6 {
        grid-column: 7 / 19; 
        grid-row: 12 / 12;      
        width: 100%;         
        height: .2vw;
        background-color: rgb(0, 0, 0);
        
        z-index: 1;
      }
      .vertical-line_10 {
        grid-column: 19;
        grid-row-start: 3;
        grid-row-end: 12; 
        width: .2vw;
        background-color: rgb(0, 0, 0);
        height: 100%; 
      }
      .vertical-line_11 {
        grid-column: 10;
        grid-row-start: 12;
        grid-row-end: 11; 
        width: .2vw;
        background-color: rgb(0, 0, 0);
        height: 100%; 
      }
      .vertical-line_12 {
        grid-column: 7;
        grid-row-start: 12;
        grid-row-end: -1; 
        width: .2vw;
        background-color: rgb(0, 0, 0);
        height: 100%; 
      }
      .solid_squre_3 {
        width: 1vw;
        height: 1vw;
        background-color: rgb(0, 0, 0);
        grid-column: 10 / span 2; 
        grid-row: 11;
        z-index: 2;
        transform: translateX(-40%);
      }
      .solid_squre_4 {
        width: 1vw;
        height: 1vw;
        background-color: black;
        grid-column: 2 / span 2; 
        grid-row: 3;
        z-index: 3;
        transform: translatey(-40%);
      }
      
      .hadi_3{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #0f2f76;
        padding-left: 19%;
        font-size:5vw ;
        transform: scaleY(1.2);
        z-index: 1;
        grid-column-start: 2; 
        grid-column-end: 9;   
        grid-row-start: 2;   
        grid-row-end: 4;  
        transform: translatey(-20%);    
      }
      .portfolio_txt{
        font-size: 1.5vw;
        grid-row: 2;
        grid-column: 5/13;
        transform: translatey(50%);
        justify-self: start;
        padding-left: 5.5%;
        z-index: 2;
        
      }
    
    .portfolio_txt_2{
      font-size: 1.5vw;
      grid-row: 11;
      grid-column: 10/17;
      align-self: self-end;
      padding-left: 2%;
      z-index: 2;
      
    }
    .portfolio_txt_3{
      font-size: 1.7vw;
      font-weight:bold ;
      grid-row: 12;
      grid-column: 14/18;
      align-self: self-start;
      padding-left: 5.5%;
      z-index: 2;
      
    }
    
    .hadi_4{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #0f2f76;
      
      font-size:5vw ;
      transform: scaleY(1.2);
      z-index: 1;
      grid-column-start: 6; 
      grid-column-end: 12;   
      grid-row-start: 9;   
      grid-row-end: 13;  
        transform: translatex(-6%);  
    }
    .contact_me{
      font-size: 2vw;
      padding-right: 5px;
      line-height:2;
      font-weight: bold;
      text-align: right;
      color: rgb(255, 255, 255);
      grid-row-start:3 ;
      grid-row-end: 7;
      grid-column-start:1;
      grid-column-end:7 ;
      z-index: 2;}
      .vertical-line_13 {
        grid-column-start:1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: -1; 
        width: 100%;
        background-color: rgb(0, 0, 0);
      }
      .gallery{
        grid-row-start: 5;
        grid-row-end: 10;
        grid-column-start:3;
        grid-column-end:17
      }
      .gallery_grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        
      }
      .card_1{
        width: 45%;
        padding: 1vw;
    
      }
      .gallery img{
        width: 100%;
        
      }
      .gallery p{
        font-size: 1vw;
      }
      .card{
        display: flex;
        margin: .1vw;
        flex-direction: column;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
        background-color: #ffffff;
        opacity: 90%;
        
        
      }
      .gallery img:hover,.card:hover {
        transform: scale(1.1);
        opacity: 100%;
        font-style: italic;
        color: white;
        background-color: #0f2f76;
        
    }
    
      .c_form{
        grid-row-start: 1;
        grid-row-end: 12;
        grid-column-start: 5;
        grid-column-end: 20;
        z-index: 5;
        transform: scale(.7);
      }
  .contact-form {
  background-color: #fff;
  padding: 4vw;
  border-radius: 0.8vw;
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
  width: 80%; 
  max-width: 90%; 
  }


  .contact-form label {
  display: block;
  margin-bottom: 1.2vw;
  font-weight: bold;
  color: #333;
  }

  .contact-form input,
  .contact-form textarea {
  width: 100%;
  padding: 2vw;
  margin-bottom: 2vw;
  border: 1px solid #ccc;
  border-radius: 0.4vw;
  box-sizing: border-box;
  max-height: 60vw;
  font-size: 1.5vw; 
  }

  .contact-form button {
  width: 100%;
  padding: 2vw;
  background-color: #5c6bc0;
  color: #fff;
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;
  font-size: 1.5vw; 
  }
  label{
  font-size: 1.5vw;
  }

  .contact-form button:hover {
  background-color: #3f4d96;
  }
  .video_frame{
    grid-row-start:2 ;
    grid-row-end:12;
    grid-column-start: 2;
    grid-column-end: 19;
    width: 100%;
    height: 100%;
  }

  
  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  }
  .c-site-footer{
  background-color: black; color: white; text-align: center; padding: 10px;
  }
  
  .section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .section.show {
  opacity: 1;
  transform: translateY(0);
  }

 
